<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="fCC microservices" content="freeCodeCamp microservice projects">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>freeCodeCamp Microservice Projects</h1>
    </header>

    <main>
      
      <section id="timestamp-api">
        
        <h2>Timestamp API</h2>
        <h3>Usage</h3>
        <div>
          Send string with date in any format to recieve UNIX timestamp and formatted date (MM DD, YYY) in response body. Can be GET or POST request.
        </div>
        
        <div class="code-block">
          <p>GET 
            <a href="https://fierce-sociology.glitch.me/api/timestamp/1500349847" target="_blank">
              <code>https://fierce-sociology.glitch.me/api/timestamp/1500349847</code>
            </a>
          </p>
        </div>
        
        <div class="code-block">
          <p>POST 
            <a href="https://fierce-sociology.glitch.me/api/timestamp" target="_blank">
              <code>https://fierce-sociology.glitch.me/api/timestamp</code>
            </a>
          </p>
        </div>
        
        <div id="timestamp-demo">
          <h3>Demo</h3>
          <form action="/api/timestamp" id="timestamp-form">
            <div class="form-field">
              <label for="date">Enter date in any format (including UNIX)</label>
              <input name="date" type="text">
            </div>
            <div class="form-field">
              <button>Send</button>
            </div>
          </form>
        </div>
        
        <div id="timestamp-results">
          <span id="unix"></span>
          <span id="natural"></span>
        </div>
        
      </section>
    </main>

    <footer>
      <a href="https://github.com/ssimonitch">
        created by @ssimonitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
