* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  color: pink;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

a {
  text-decoration: none;
}

label {
  display: inline-block;
  margin-bottom: 10px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

/* DANK STYLES */

.demo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80px;
}

input[type="file"] {
  display: none;
}

.file-upload {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  padding: 1px 6px;
}

.file-upload:hover {
  background-color: yellow;
}

.file-upload:active {
  box-shadow: none;
}

#file-selection {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.code-block {
  display: table;
  font-family: monospace;
  vertical-align: middle;
}

.code-block p {
  background-color: seashell;
}

#protip {
  margin: 20px 0 0 10px;
}

.protip span {
  font-weight: 600;
}

.killer {
  color: #36fa09;
   font: bold 28px Helvetica, Arial, Sans-Serif;
   text-shadow: 1px 1px #fe03b7,
                2px 2px #fe03b7,
                3px 3px #fe03b7;
   -webkit-transition: all 0.12s ease-out;
   -moz-transition:    all 0.12s ease-out;
   -ms-transition:     all 0.12s ease-out;
   -o-transition:      all 0.12s ease-out;
}

.killer:hover {
  position: relative;
   top: -3px;
   left: -3px;
   text-shadow: 1px 1px #fe03b7,
                2px 2px #fe03b7,
                3px 3px #fe03b7,
                4px 4px #fe03b7,
                5px 5px #fe03b7,
                6px 6px #fe03b7;
}
